.container{
    background: rgb(48,98,220);
    background: linear-gradient(90deg, rgba(48,98,220,0.8412407199207808) 35%, rgba(136,85,209,0.7852183109571954) 78%);
    padding-top: 16%;
    min-width: 100%;
    min-height: 600px;
    overflow-x: hidden;
}

#p1{ 
    padding-left: 37%;
}
#p2{ 
    padding-left: 34.3%;
}
#p3{ 
    padding-left: 29.5%;
}


.buttons{
    margin-top: 40px;
    padding-left: 39%; 
}

#get_started{ 
    transition: 0.5s;
    border-radius: 20px;
}
#about{
    transition: 0.5s;
    border-radius: 20px;
    margin-left: 50px;
}
